
table {
 width: 100%;
 border-collapse: collapse;
}
 th, td {
 border: 2px solid black;
 padding: 8px;
 text-align: center;
}
 /* Fija en color rojo la segunda fila y luego dos sin pintar, una pintada */
 table tr:nth-child(2), table tr:nth-child(5), table tr:nth-child(8) {
    background-color: red;
}

